.wrapper {
    max-width: 800px;
    background-color: #EAECED;
    margin: 0 auto;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #F9F9F9;
}

body{
    font-family: 'Open Sans', sans-serif;
}

h2 {
    color: #292C34;
    font-size: 34px;
    font-weight: lighter;
    text-align: center;
}

p {
    color: #888888;
    font-size: 16px;
    text-align: center;
}

.header_logo {
    font-size: 16px;
    color: #606060;
    font-weight: bold;
    padding-top: 30px;
}

.header_list {
    font-size: 13px;
    float: right;
    margin-bottom: 25px;
}

.header_list li {
    list-style: none;
    float: left;
}

.header_list li + li {
    margin-left: 25px;
}

.header_list a {
    text-decoration: none;
    color: #888888;
}