/*Colors*/
/*Button*/
.wrapper {
  max-width: 800px;
  background-color: #EAECED;
  margin: 0 auto; }

.wrapper_main {
  max-width: 600px;
  margin: 0 auto;
  background-color: #F9F9F9; }

.container {
  max-width: 600px;
  margin: 0 auto; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

body {
  font-family: 'Open Sans', sans-serif; }

h2 {
  color: #292C34;
  font-size: 34px;
  font-weight: lighter;
  text-align: center; }

h3 {
  color: #F9F9F9;
  font-size: 34px;
  font-weight: lighter;
  text-align: center; }

p {
  color: #888888;
  font-size: 16px;
  text-align: center; }

.header_logo {
  font-size: 16px;
  color: #606060;
  font-weight: bold;
  padding-top: 30px; }

.header_list {
  font-size: 13px;
  float: right;
  margin-bottom: 25px; }
  .header_list li {
    list-style: none;
    float: left; }
  .header_list li + li {
    margin-left: 25px; }
  .header_list a {
    text-decoration: none;
    color: #888888;
    background: none; }

/*news letter*/
.newsletter {
  padding-bottom: 72px; }

.newsletter_content a {
  color: #40ACEB; }

.newsletter_button {
  background-color: #7BB84F;
  width: 134px;
  height: 36px;
  text-align: center;
  border-radius: 2px;
  margin-left: 232px;
  margin-top: 35px; }
  .newsletter_button a {
    text-decoration: none;
    font-size: 13px;
    margin-top: 14px;
    color: white; }

/*Free book*/
.free_book_content a {
  color: #40ACEB; }

.free_book_button {
  background-color: #F5BA1C;
  width: 134px;
  height: 36px;
  text-align: center;
  border-radius: 2px;
  margin-left: 232px;
  margin-top: 35px; }
  .free_book_button a {
    text-decoration: none;
    font-size: 13px;
    margin-top: 14px;
    color: white; }

/*Our Newroom*/
.our_newroom_content p {
  height: 300px;
  width: 300px;
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF; }

.our_newroom_content img {
  height: 200px;
  width: 300px;
  display: block; }

.our_newroom_muckup p {
  background-color: #0071BD;
  float: right;
  margin: 0 0 0 0; }

.our_newroom_leader1 p {
  background-color: #A4D3F3;
  float: left;
  margin: 0 0 0 0; }

.our_newroom_magazine p {
  background-color: #333C4D;
  float: right;
  margin: 0 0 0 0; }

.our_newroom_leader2 p {
  background-color: #76B3DD;
  margin: 0 0 0 0; }

.our_newroom_leader2 img {
  float: right;
  display: block; }

.our_newroom_button {
  background-color: #40ACEB;
  width: 134px;
  height: 36px;
  text-align: center;
  border-radius: 2px;
  margin-left: 232px;
  margin-top: 35px; }
  .our_newroom_button a {
    text-decoration: none;
    font-size: 13px;
    margin-top: 14px;
    color: white; }

/*Our Gallery*/
.our_gallery {
  background-color: #292C34;
  padding-bottom: 25px; }

.our_gallery_img {
  padding-left: 40px; }
  .our_gallery_img img {
    text-align: center;
    width: 160px;
    height: 160px;
    padding: 5px; }

.our_gallery_button {
  background-color: #F9F9F9;
  width: 134px;
  height: 36px;
  text-align: center;
  border-radius: 2px;
  margin-left: 232px;
  margin-top: 35px; }
  .our_gallery_button a {
    text-decoration: none;
    font-size: 13px;
    margin-top: 14px;
    color: white; }

.our_gallery_button a {
  color: black; }

/*Special Offer*/
.special_offer_title {
  padding-top: 40px; }

.special_offer_button {
  width: 232px;
  height: 62px;
  text-align: center;
  border-radius: 2px;
  margin-left: 190px;
  margin-top: 35px;
  background-color: #E02D74;
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
  .special_offer_button a {
    text-decoration: none;
    font-size: 13px;
    margin-top: 14px;
    color: white; }

.footer {
  background-color: #EAECED; }

.footer_content {
  float: left;
  padding-top: 30px;
  padding-left: 80px; }

.footer_img {
  float: right;
  list-style: none;
  padding-top: 30px;
  width: 110px; }
  .footer_img li + li {
    float: left;
    margin-left: 20px; }

@media (max-width: 1023px) {
  body {
    background-color: lightgreen; } }

@media (max-width: 777px) {
  body {
    background-color: lightpink; } }
