
/*news letter*/

.newsletter {
    padding-bottom: 72px;
}

.newsletter_content a {
    color: #40ACEB;
}

.newsletter_button {
    background-color: #7BB84F;
    @include button;
}

/*Free book*/

.free_book_content a {
    color: $ancord_blue;
}

.free_book_button {
    background-color: #F5BA1C;
    @include button;
}

/*Our Newroom*/

.our_newroom_content {
    p {
        height: 300px;
        width: 300px;
        font-family: 'Open Sans', sans-serif;
        color: #FFFFFF;
    }

    img {
        height: 200px;
        width: 300px;
        display: block;
    }
}

.our_newroom_muckup {
    p {
        background-color: #0071BD;
        float: right;
        margin: 0 0 0 0;
    }
}

.our_newroom_leader1 {
    p {
        background-color: #A4D3F3;
        float: left;
        margin:  0 0 0 0;
    }
}

.our_newroom_magazine {
    p {
        background-color: #333C4D;
        float: right;
        margin: 0 0 0 0;
    }
}

.our_newroom_leader2 {
    p {
        background-color: #76B3DD;
        margin: 0 0 0 0;
    }

    img {
        float: right;
        display: block;
    }
}

.our_newroom_button {
    background-color: #40ACEB;
    @include button;
}

/*Our Gallery*/

.our_gallery {
    background-color: #292C34;
}

.our_gallery_img {
    padding-left: 40px;

    img {
        text-align: center;
        width: 160px;
        height: 160px;
        padding: 5px;
    }
}


.our_gallery_button {
    background-color: #F9F9F9;
    @include button
}

.our_gallery_button a {
    color: black;
}

/*Special Offer*/

.special_offer_button {
    width: 232px;
    height: 62px;
    text-align: center;
    border-radius: 2px;
    margin-left: 190px;
    margin-top: 35px;
    background-color: #E02D74;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    a {
        text-decoration: none;
        font-size: 13px;
        margin-top: 14px;
        color: white;
    }
}