
/*news letter*/

.newsletter {
    padding-bottom: 72px;
}

.newsletter_content a {
    color: $ancord_blue;
}

.newsletter_button {
    background-color: #7BB84F;
    @include button;
}

/*Free book*/

.free_book_content a {
    color: $ancord_blue;
}

.free_book_button {
    background-color: #F5BA1C;
    @include button;
}

/*Our Newroom*/

.our_newroom_content {
    p {
        height: 300px;
        width: 300px;
        font-family: 'Open Sans', sans-serif;
        color: #FFFFFF;
    }

    img {
        height: 200px;
        width: 300px;
    }
}

.our_newroom_muckup {
    p {
        background-color: #0071BD;
    }
}

.our_newroom_button {
    background-color: #40ACEB;
    @include button;
}